<div class="container">
  <h1>Mario's Foods</h1>
  <h3>Welcome to Mario's Specialty Food Products!</h3>
    <a href="?sort=:ten_most_recent"><button class="btn btn-outline-dark btn-sm">Most recently added</button></a>
    <a href="?sort=most_reviews"><button class="btn btn-outline-dark btn-sm">Most reviews</button></a>
    <a href="?sort=from_usa"><button class="btn btn-outline-dark btn-sm">Made in USA</button></a>
    <button class="btn btn-outline-dark btn-sm"><%= link_to "All Products", products_path %></button>
    <% if current_user && current_user.admin %>
    <button class="btn btn-outline-dark btn-sm"><%= link_to "Create New Product", new_product_path %></button>
    <% end %>
    <div class="homeProducts">
      <ul>
        <% if @products.any? %>
          <% @products.each do |p| %>
            <li><%= link_to p.name, product_path(p) %></li>
          <% end %>
      </ul>
        <% else %>
          <p>There are currently no products to display.</p>
        <% end %>
    </div>
</div>