<div class="container">
  <h1>Mario's Products</h1>
  <button class="btn btn-outline-dark btn-sm"><%= link_to "Create New Product", new_product_path %></button>
  <h2>Products</h2>
  <div class="stuff">
    <ul>
      <% if @products.any? %>
        <% @products.each do |product| %>
          <li><%= link_to product.name, product_path(product) %></li>
        <% end %>
    </ul>
      <% else %>
        <p>There are currently no products to display.</p>
      <% end %>
  </div>
</div>