  <h1>Mario's Foods</h1>

  <a href="?sort=:ten_most_recent"><button class="btn btn-success">Most recently added</button></a>
  <a href="?sort=most_reviews"><button class="btn btn-success">Most reviews</button></a>
  <a href="?sort=from_usa"><button class="btn btn-success">Made in USA</button></a>


  <h2>Products</h2>
  <div class="stuff">
    <ul>
      <% if @products.any? %>
        <% @products.each do |product| %>
          <li><%= link_to product.name, product_path(product) %></li>
        <% end %>
    </ul>
      <% else %>
        <p>There are currently no products to display.</p>
      <% end %>
  </div>
  <button class="btn btn-success"><%= link_to "Create New Product", new_product_path %></button>